@{
  Layout="_Layout";
}

@model PierreTreats.Models.Flavor

<h2>Add Treat to Flavor @Html.DisplayFor(model=>model.FlavorName)</h2>

<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}

<hr />

