@{
  Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h4>Add a new flavor</h4>

<hr />
@using (Html.BeginForm())
{
  @Html.Label("Enter Flavor Name: ")
  @Html.TextBoxFor(model => model.FlavorName)
  
  
  <input type = "submit" value="Add new flavor">
}