@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Sweet and Savory Treats!</h1>

<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>

<p>@Html.ActionLink("Show treates only", "Index", "Treats")</p>
<p>@Html.ActionLink("Show flavors only", "Index", "Flavors")</p>